@using QueueForChildren.Data.Dtos.Queue
@model IReadOnlyList<QueueBy>

<table class="table table-hover table-dark">
    <thead>
    <tr>            
        <th scope="col">Место</th>
        <th scope="col">Имя</th>
        <th scope="col">Льгота</th>
        <th scope="col">Дата подачи заявления</th>
        <th hidden scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @{
        var place = 1;
        foreach (var row in Model)
        {
            <tr class="schoolRow">
                <td>@place</td>
                <td>@row.ChildName</td>
                <td>@row.IsBenefit</td>
                <td>@row.Date</td>
            </tr>
            place++;
        }
    }       
    </tbody>
</table>